ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    font-size: 13px;
    font-weight: 400;
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

#header-desc, #header-title {
    float: left;
}

#header-desc {
    left: 135px;
    position: absolute;
}

#header-title a {
    font-weight: 600;
}