main {
    margin-top: 30px;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    left: 135px;
    position: absolute;
}

li {
    list-style-type: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
}

.topic {
    margin-top: 10px;
    padding: 5px 32px;
    margin: 14px;

    border-style: solid;
    border-width: 4px;
    border-color: #f95602;

    text-align: center;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: #F95602;
}

#exampleContainer {
    padding-left: 14px;

    /* flexbox stuff */
    display: flex;
    flex-wrap: wrap;
}

.example {
    margin-top: 10px;
    padding-right: 50px;
    padding-top: 20px;

    outline: none;
    text-align: justify;

    width: 260px;

    cursor: pointer;

    /* flexbox stuff */
    flex: 0 1 auto;
}

.example:hover .exampleTitle{
    color: #f95602;
    /* text-decoration: underline; */
}

.exampleTitle {
    text-align: center;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;

    transition: all 0.1s ease-in-out;
    position: relative;
    padding: 0;
}

.titleDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.example:hover .exampleTitle:before,
.example:hover .exampleTitle:after {
    width: 100%;
    opacity: 1;
}

.exampleTitle:before,
.exampleTitle:after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0px;
    height: 3px;
    margin: 2px 0 0;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
    background-color: #f95602;
    left: 0;
}

p {
    margin-top: 5px;
}

@media (max-width: 800px) {
    .example {
        width: 80%;
    }
}