main {
    margin-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
    left: 135px;
    position: absolute;
}

li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 50px;
}

.topic {
    margin-top: 10px;
    padding: 5px 32px;
    margin: 14px;

    border-style: solid;
    border-width: 4px;
    border-color: #F95602;

    text-align: center;
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    color: #F95602;
}

#exampleContainer {
    padding-left: 14px;

    /* flexbox stuff */
    display: flex;
    flex-wrap: wrap;
}

.example {
    margin-top: 10px;
    padding-right: 50px;
    padding-top: 20px;

    text-align: justify;

    width: 260px;

    cursor: pointer;

    /* flexbox stuff */
    flex: 0 1 auto;
}

.example:hover .exampleTitle{
    color: #F95602;
    text-decoration: underline;
}

.exampleTitle {
    text-align: center;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}

p {
    margin-top: 5px;
}

@media (max-width: 800px) {
    .example {
        width: 80%;
    }
}