<main>
  <ul *ngIf="overview">
    <li *ngFor="let topic of overview.topics">
      <span class="topic">{{topic.title}}</span>
      <div id="exampleContainer">
        <div @flyInOut *ngFor="let example of topic.examples" class="example" routerLink="/example/{{topic.id}}/{{example.id}}" routerLinkActive="active">
          <div class="titleDiv"><span class="exampleTitle">{{example.title}}</span></div>
          <p>
            {{example.text}}
          </p>
        </div>
      </div>
    </li>
    <li>
      <span class="topic">Art</span>
      <div id="exampleContainer">
        <div @flyInOut *ngFor="let example of overview.art" class="example" routerLink="/art/{{example.id}}" routerLinkActive="active">
          <div class="titleDiv"><span class="exampleTitle">{{example.title}}</span></div>
          <p>
            {{example.text}}
          </p>
        </div>
      </div>
    </li>
  </ul>
</main>