<p>
For the sake of completeness, I want to introduce Tensors, but I suggest you read the official documentation.
</p>
<p>
As mentioned earlier, Tensors can be understood as n-dimensional vectors. It's dimensions are defined by it's shape. So for instance a 2-dimensional Tensor (we also say a Tensor of rank 2) might look like this:
</p>
<div ace-editor [(text)]="tensor" [mode]="'javascript'" [theme]="'eclipse'" [readOnly]="true" style="height:16px; width:auto;"></div>
<p>
The Tensor is created as a list of numbers that is then shaped the way we specified. However this shape can also be infered automatically like this:
</p>
<div ace-editor [(text)]="tensor_infer" [mode]="'javascript'" [theme]="'eclipse'" [readOnly]="true" style="height:16px; width:auto;"></div>
<p>
For better code readability there are special methods for creating Tensors with low rank:
</p>
<div ace-editor [(text)]="tensor_low" [mode]="'javascript'" [theme]="'eclipse'" [readOnly]="true" style="height:80px; width:auto;"></div>
<p>
  We can now perform operations on these Tensors. Most of the operations are pretty straight Forward. There is Addition, multiplication and trigonometric functions among many <a href="https://js.tensorflow.org/api/0.12.0/#Operations ">others</a>. One Thing to note is that the shape of the Tensors may have to be equal or match other criteria. Take additon for example. It makes no sense to add two Tensors with different shapes or even dimensions.

One Thing thats not possible with Tensors is changing individual values of the Tensor (not like Arrays). In order to assign new values to an existing Tensor we have to reasign it directly or load the values from memory.

Due to low-level nature of the core-api we need to handle Memory Management ourselves. After a Tensor is created, it is loaded into the Memory of the gpu and resides there until we dispose of it.
</p>
<div ace-editor [(text)]="tensor_dispose" [mode]="'javascript'" [theme]="'eclipse'" [readOnly]="true" style="height:32px; width:auto;"></div>
<p>
In order to make Memory Management a little easier, Tensorflow.js provides a function called tf.tidy(). It takes a function as an argument and every Tensor created inside this function - except the return value - is automatically purged from Memory.
</p>
<div ace-editor [(text)]="tensor_tidy" [mode]="'javascript'" [theme]="'eclipse'" [readOnly]="true" style="height:80px; width:auto;"></div>
