main {
    margin-left: 135px;
    margin-top: 5px;
    padding-left: 5px;
}

h2 {
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;

    margin-top: 0px;
    margin-bottom: 10px;
}

main span {
    cursor: pointer;

    padding-right: 30px;
    margin-bottom: 20px;

    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
}

canvas {
    padding-top: 20px;
}

.selected {
    color: #F95602;
    text-decoration: underline;
}

.container {
    /* flexbox stuff */
    display: flex;
    flex-wrap: wrap;
}

.container div {
    /* flexbox stuff */
    flex: 0 1 auto;
}

#sketch {
    width: 500px;
    position: relative;
}

.viewContainer {
    margin-right: 50px;
}

#vis {
    max-width: 40%;
    margin-top: 1em;
}

#code {
    max-width: 40%;
}

.expl {
    text-align: justify;
    margin-right: 5px;

    min-width: 20%;
    max-width: 45%;
    /*max-width: 50%;
    /*min-width: 450px;*/
}

p {
    margin-top: 0px;    
}

canvas {
    padding-top: 14px;
}

.hidden {
    display: none;
}

@media (max-width: 1250px) {
    main {
        margin-left: 10px;
    }

    .viewContainer {
        margin-bottom: 30px;
    }

    .expl {
        max-width: 90%;
        width: 85%;
    }
}