/* You can add global styles to this file, and also import other style files */

/* IBM Plex Mono: Medium (500) + Semibold (600) | Montserrat: Light (300) */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|Montserrat:300');
@import '~katex/dist/katex.css';

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.p5-button, .p5-button-transparent {
    display: inline;

    margin-left: 14px;
    
    border-style: solid;
    border-width: 2px;
    border-color: #F95602;
    
    text-align: center;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color: #F95602;
}

.p5-button-transparent {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    visibility: hidden;
  }
  
  ::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 5px; */
    /* border-radius: 5px; */
    background: #f76922;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128,128,128,0.4); 
  }